body, html {
    height:100%;
    margin:0;
}
.background {
    background-image: url(images/circuit.jpeg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContainer {
    width: 800px;
    margin:auto;
    background-color: rgba(0,0,0,0.7);
    color:white;
    min-height: 500px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top:0;
    margin-bottom: 0;
}
h2 {
    text-align: center;
}
.header {
    background-color: silver;
    height:50px;
}
.header h1 {
    float:left;
    line-height: 50px;
    font-family: sans-serif;
    width:200px;
    padding-left: 10px;
}
.header a {
    display:inline-block;
    background-color: lightgreen;
    height: 50px;
    width:100px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color:black;
}
.header a:hover {
    background-color: white;
}
.mainContent {
    padding:5px;
}
img {
    height:300px;
    width:300px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 10px 10px lightgreen;
    border-radius: 100px;
    border-bottom-right-radius: 0px;
}
a {
    color: lightgreen;
}